/* Define variables for colors */
:root {
  --background-color: #fff, #5CC3EB, #128AAC, #126896;
  --bg-color-rules: #D3D3D3;
  --bg-color-island-steps: #FFE2D0;

  --island-border: #EBC8A1;
  --island-shadow: #BEC7B7;

  --step-r: #EBC8A1;
  --step-w: #4D4D4D;

  --text-color: #29292c;
  --white: #ffffff;
  --black: #000000;
}

/* ###################################################### */
/*                       General Rules                    */
/* ###################################################### */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: solid 1px red;
}

@font-face {
  font-family: kiddy;
  src: url(../assets/Kiddy\ Play.ttf);
}

body {
  background: radial-gradient(var(--background-color));
  padding: 1%;

  font-family: kiddy, Helvetica, sans-serif;
  color: var(--text-color);
  letter-spacing: 1px;
  overflow: hidden;
}

main {
  height: 90vh;
}

h1 {
  font-size: 3rem;
}

h1,
h2,
h1+p {
  text-align: center;
}

p {
  padding: 5px;
  letter-spacing: 0.3px;
  font-size: 15px;
}

/* ###################################################### */
/*                        Main elements                   */
/* ###################################################### */

.container {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 40px;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;

  height: 700px;
  width: 700px;

  background-color: var(--bg-color-island-steps);
  border: solid 10px var(--island-border);
  box-shadow: 0 20px 50px 30px var(--island-shadow);
  border-radius: 62% 38% 60% 40% / 56% 66% 34% 44%;
  padding: 18%;

  z-index: 1;
}

.step {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  padding-top: 15px;
  border: solid 1px var(--island-border);
  transition: 1s;

  z-index: 50;
}

.step:nth-child(1) {
  background: var(--step-r);
  font-size: 15px;
}

.r:hover {
  background: var(--step-r);
}

.w:hover {
  background: var(--step-w);
}

.w:hover::before {
  content: "✖";
}

.exit {
  position: relative;
  color: var(--bg-color-island-steps);
}

.exit:hover {
  background-color: var(--step-r);
}

/*MODAL*/
.rules {
  position: absolute;
  grid-area: rule;
  bottom: 30px;
  right: 30px;
}

/*Removes the checkbox*/
input[type="checkbox"],
#modal {
  display: none;
}

/*sets the display property to block when the checkbox is checked/clicked*/
input[type="checkbox"]:checked~.modal,
input[type="checkbox"]:checked~.modal-background {
  display: block;
}

/*gives a semi-transparent background and is positioned fixed to cover the entire viewport*/
.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;

  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  z-index: 3;
}

/*takes up the entire viewport. It has a z-index higher than the modal background to ensure that it appears on top*/
.modal {
  position: fixed;
  display: none;
  background-color: var(--bg-color-rules);

  padding: 80px;
  margin: auto;
  /*shorthand for setting the top, right, bottom, and left properties at once.*/
  inset: 0;

  width: 600px;
  height: 600px;

  border-radius: 62% 38% 60% 40% / 56% 66% 34% 44%;

  z-index: 4;
}

.modal>p {
  padding: 12px;
  font-size: 17px;
}

.close {
  background-color: var(--bg-color-island-steps);
  height: fit-content;
}

/*positions the close button to the right*/
.close label {
  float: right;
  line-height: 50px;
  padding: 0 15px 0 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
}

.close label:hover {
  opacity: 0.5;
}

/* styling for the rules button */
.button {
  display: inline-block;
  padding: 40px;

  background-color: var(--bg-color-rules);
  border-radius: 62% 38% 60% 40% / 56% 66% 34% 44%;

  font-size: 15px;
  cursor: pointer;
}

/* styling when hovering rules button */
.button:hover {
  opacity: 0.8;
  text-decoration: underline overline;
}

/* ###################################################### */
/*                Decorations and animations              */
/* ###################################################### */

/*WAVES*/
.waves {
  position: absolute;
  background: var(--bg-color-island-steps);

  text-align: center;

  height: 740px;
  width: 750px;
  top: 120px;

  border-radius: 62% 38% 60% 40% / 56% 66% 34% 44%;

  animation: wave ease-in-out 7s infinite
}

@keyframes wave {

  0%,
  50%,
  100% {
    opacity: 0;
  }

  30% {
    opacity: 0.2;
  }
}

/*TREASURE CHEST*/
.treasure-chest {
  --treasure-chest: #984729;
  --treasure-chest-border: #FBB625;
  position: absolute;
  background: var(--treasure-chest);

  border-radius: 5px;
  border-right: 1rem solid var(--treasure-chest-border);
  border-left: 1rem solid var(--treasure-chest-border);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  height: 90px;
  width: 120px;

  /*position*/
  top: -20px;
  right: -32px;

  animation: rotate 3s ease-in-out;
  transform: scale(0.40);
  opacity: 0;
}

.exit:hover>.treasure-chest {
  opacity: 1;
}

.exit:hover>.treasure-chest {
  opacity: 1;
}

.treasure-chest::before {
  content: "";
  position: absolute;
  background: var(--treasure-chest-border);

  height: 1rem;
  width: 110px;

  /*position*/
  left: -15px;
  top: 25px;
}

.treasure-chest::after {
  content: "";
  position: absolute;
  background: var(--treasure-chest-border);

  height: 35px;
  width: 45px;

  /*position*/
  left: 25px;
  top: 25px;

  border-radius: 0 0 50% 50%/0 0 100% 100%;
}

.key-hole {
  --key-hole: #641C26;
  position: absolute;
  background: var(--key-hole);
  border-radius: 50%;

  height: 10px;
  width: 10px;

  /*position*/
  top: 37px;
  left: 42px;

  z-index: 2;
}

.key-hole::before {
  content: "";
  position: absolute;
  background: var(--key-hole);

  height: 7px;
  width: 4px;

  /*position*/
  top: 7px;
  left: 2px;

}

/*@keyframes rotate {
  0% {
    transform: scale(7) rotate(0deg) translateX(-20%) translateY(-40%);
    opacity: 1;
  }

  100% {
    transform: scale(0.45) rotate(360deg);
    opacity: 0.1;
  }
}*/

/*SHARK*/
.shark {
  --shark: #AEB9BF;
  --shark-shadow: #73848C;
  --shark-border: #95A4AD;

  position: absolute;
  background: linear-gradient(354deg, rgba(174, 185, 191, 1) 0%, rgba(115, 132, 140, 1) 35%, rgba(114, 125, 129, 1) 100%);

  clip-path: polygon(23% 28%, 0% 100%, 100% 100%);
  border-radius: 9px;
  border: solid 2px var(--shark-border);
  filter: drop-shadow(1px 1px 1px var(--white));

  height: 40px;
  width: 50px;

  top: 110px;
  left: 60px;

  z-index: -1;

  /* name | duration | timing-function | iteration-count*/
  animation: swim 40s linear infinite;
}

/* Starting on the left side and moves to the right. It changes its vertical position with transform: translateY().
Opacity and scale are also animated */

@keyframes swim {
  0% {
    left: 0;
    transform: translateY(-100%);
  }

  25% {
    left: 25%;
    transform: translateY(30%);
  }

  50% {
    left: 50%;
    transform: translateY(-50%);
  }

  75% {
    left: 75%;
    transform: translateY(30%);
  }

  100% {
    left: 100%;
    transform: translateY(100%);
  }

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale(0.4);
  }

  70% {
    transform: scale(1);
  }
}


/*PALM TREE*/
.palm-tree {
  position: relative;
  transform: scale(0.4);

  top: -670px;
  left: 260px;
  z-index: 1;
}

.palm-tree.two {
  top: -930px;
  left: -100px;
  transform: scale(0.3) rotate(10deg);
}

.leaf {
  --leaf-light: #76B711;
  --leaf-dark: #39AB10;
  position: relative;
  background: var(--leaf-dark);

  border-radius: 5% 100% 0% 100% / 0% 100% 0% 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  height: 100px;
  width: 130px;
}

.leaf:nth-child(2) {
  background: var(--leaf-light);
  transform: rotate(115deg);
  top: -115px;
  left: 105px;
}

.leaf:nth-child(3) {
  background: var(--leaf-dark);
  transform: rotate(-20deg);
  top: -140px;
  left: 110px;

  height: 95px;
  width: 122px;
}

.leaf:nth-child(4) {
  background: var(--leaf-light);
  transform: rotate(290deg);
  top: -220px;
  left: 7px;

  height: 90px;
  width: 110px;
}

.leaf::after {
  content: '';
  position: absolute;
  border-left: 2px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 20px solid var(--bg-color-island-steps);
  transform: rotate(65deg);

  top: 20px;
  left: 0;
}

.leaf:nth-child(3)::after {
  transform: rotate(65deg);
  top: 70px;
  left: 50px;
}

.coconut {
  --coconut: #5D3C02;
  --coconut-shadow: #6A4502;
  position: relative;
  background: var(--coconut);
  border-radius: 50%;
  border-left: 2px solid var(--coconut-shadow);

  width: 30px;
  height: 30px;

  top: -330px;
  left: 85px;
}

.coconut:nth-child(6) {
  top: -335px;
  left: 92px;

  width: 33px;
  height: 32px;
}

.coconut:nth-child(7) {
  top: -390px;
  left: 110px;

  width: 32px;
  height: 34px;
}

.trunk {
  --trunk-light: #A45B17;
  --trunk-dark: #843C02;
  position: relative;
  background: repeating-radial-gradient(circle at top,
      var(--trunk-light),
      var(--trunk-light) 8px,
      var(--trunk-dark) 15px,
      var(--trunk-dark) 9px);
  border-radius: 90% 20% / 10% 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transform: translateX(-50%);
  transform: rotate(-7deg);

  top: -390px;
  left: 107px;

  width: 30px;
  height: 70px;

  z-index: -2;
}

/* ###################################################### */
/*                    Screens under 700px                 */
/* ###################################################### */
@media only screen and (max-width: 700px) {

  h1,
  h2,
  h1+p {
    inline-size: 350px;
  }

  .grid {
    height: 350px;
    width: 350px;
  }

  .container {
    grid-template-areas:
      "."
      "."
      "rule";
  }

  .rules {
    position: static;
  }

  .step:nth-child(1) {
    font-size: 5px;
  }

  .modal {
    padding: 80px;
    height: fit-content;
    width: 100%;
  }

  .waves {
    height: 380px;
    width: 380px;
    top: 210px;
  }

  .treasure-chest {
    top: -33px;
    right: -47px;
    transform: scale(0.16);
  }

  .shark {
    top: 180px;
    left: 20px;
    transform: scale(0.6);
  }

  .palm-tree {
    top: -620px;
    left: 135px;
    transform: scale(0.23);
  }

  .palm-tree.two {
    top: -1060px;
    left: -60px;
    transform: scale(0.15);
  }
}
